body {
  background-color: black;
  color: white;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-pane {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-pane img {
  height: auto;
  width: 400px;
}

.right-pane {
  grid-column: 2;
  padding: 40px;
  min-height: 940px;
}

.commento-root * {
  background: #393939;
  color: white !important;
}

.commento-root {
  background: #393939;
  padding: 10px 20px !important;
}

.commento-footer {
  padding: 0 !important;
  margin: 0 !important;
}

/* for demo only - usually only mods can see */
/* .commento-mod-tools {
  display: block !important;
} */

/* top header */
.commento-logged-container {
  display: none;
}

.commento-avatar-img {
  border-radius: 6px 0px 6px 6px !important;
}

.commento-timeago::before {
  content: "\00a0" !important;
}

.commento-option-collapse,
.commento-option-uncollapse,
.commento-option-remove {
  background: white !important;
}

.commento-card {
  border-left: 2px solid white !important;
}

.commento-sort-policy-button-selected {
  color: white !important;
}

.commento-submit-button {
  background: gray !important;
}

.commento-main-area {
  display: flex;
  flex-direction: column;
}

.commento-root textarea {
  background: gray !important;
  color: white;
}

.commento-root textarea::placeholder {
  color: white !important;
}

.commento-root .commento-button-margin {
  order: 1 !important;
}

.commento-comments {
  margin-bottom: 40px;
}

.commento-sort-policy-buttons-container {
  padding: 0 !important;
}
